.game-box {
    --border-width: 6px;
    background-color: var(--black-3);
    width: min(800px, 95vw);
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    gap: 25px;
    box-shadow:
        inset 0 0 0 var(--border-width) var(--white-1),
        inset var(--border-width) var(--border-width) 0 calc(var(--border-width) * 1.5) var(--gray-1),
        inset calc(var(--border-width) * -1) calc(var(--border-width) * -1) 0 calc(var(--border-width) * 1.5) var(--gray-2),
        0 0 0 var(--border-width) var(--black-1),
        var(--border-width) var(--border-width) 0 calc(var(--border-width) * 1.5) var(--black-1);
}


.game-box p {
    width: 100%;
    text-align: center;
}

.game-title {
    width: 60%;
    color: var(--yellow-1);
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.6;
    text-shadow:
        2px 2px 0px var(--magenta-1),
        4px 4px 0px var(--magenta-1);
}

.initial {
    font-size: 1.5rem;
    color: var(--blue-2);
    text-shadow: 2px 2px 0 var(--white-1);
    margin-bottom: 1rem;
    min-height: 2rem;
}

.word-list {
    color: var(--yellow-1);
    font-size: 0.7rem;
    text-align: center;
}

.game-instruction {
    color: var(--white-3);
    font-size: 1rem;
    text-align: center;
}
